body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background-color: #eaf7f4; /* เขียวพาสเทลอ่อนมาก */
}

/* ======================
   NAVBAR
   ====================== */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
    position: fixed;
    top: 0;
    left: 0;
    width: 95%;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.navbar a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

/* ======================
   HERO SECTION
   ====================== */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    margin-top: 80px;
    background-color: #d8f2ef; /* ฟ้าอ่อนพาสเทล */
}

.hero-text h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 18px;
    margin-bottom: 20px;
}

.button {
    background-color:#fff8ab; /* เหลืองพาสเทล */
    border: none;
    padding: 12px 26px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.hero-img {
    width: 380px;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.1);
}
.section-title {
    font-size: 25px;
    font-weight: bold;
    margin: 40px;
}
.topic1 {
    margin: 50px 31px;
    font-size: 24px;
    font-weight: 600;
}
.topic2 {
    margin-top: 75px;
    font-size: 24px;
    margin-left: 35px;
    font-weight: 600;
    margin-bottom: 35px;  
}

/* Grid 2 คอลัมน์ */
.book-grid {
    /* display: grid; */
    grid-template-columns: repeat(2, 1fr); /* 2 คอลัมน์เท่ากัน */
    gap: 30px; /* ระยะห่างระหว่างการ์ด */
    margin: 0 40px 60px 40px;
}

/* การ์ดหนังสือ */
.book-card {
    display: flex;          /* ให้รูปและข้อความอยู่ข้างกัน */
    gap: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    align-items: flex-start;
}

/* รูปหนังสือ */
.book-cover {
    width: 250px;
    height: auto;
    border-radius: 8px;
    margin-top: 30px;
}

/* ข้อความในบัตร */
.book-info h3 {
    margin-top:30px;
    font-size: 24px;
}

.book-info .desc {
    margin: 0 0 8px;
    font-weight: 500;
    font-size: 18px;
}

.book-info .main-desc {
    color: #555;
    font-size: 17px;
    line-height: 2;
}

/* Responsive: หน้าเล็กเหลือ 1 คอลัมน์ */
@media (max-width: 768px) {
    .book-grid {
        grid-template-columns: 1fr;
    }

    .book-card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .book-cover {
        margin-bottom: 15px;
    }
}

.view-btn {
    background-color: #fff8ab;
    border: none;
    padding: 12px 26px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}